body{
  background-color: darkturquoise;
}



#caption{
  text-align: center;
  margin: auto;
  margin-top:50px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: 'Pacifico', cursive;
  color:darkslateblue;

}

#results {
  width: 300px;
  font-size: 50px;
  font-family: 'Play', sans-serif;
  text-align: center;
  margin: auto;
  background-color: beige;
  color: darkblue;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 10%;
}

#input-and-submit{
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

#new-game{
  width: 20%;
  margin-top: 20px;
}

#ng-button{
  text-align: center;
  margin: auto;
}
